<?xml version="1.0" encoding="utf-8"?>

<profile>

	<global>
		<action first="176" second="7">VolumeSet</action>
		<action first="176" second="55" third="0">VolumeMute</action>
		<action first="176" second="43" third="0">PrevTrack</action>
		<action first="176" second="44" third="0">NextTrack</action>
		<action first="176" second="41" third="0">PlayPause</action>
	</global>

	<session>
		<paths>
			<path>C:\my\dir</path>
			<path>D:\games</path>
		</paths>
		<actions>
			<action first="176" second="0">VolumeSet</action>
			<action first="176" second="48" third="0">VolumeMute</action>
		</actions>
	</session>

	<session>
		<paths>
			<path>musicplayer.exe</path>
		</paths>
		<actions>
			<action first="176" second="1">VolumeSet</action>
			<action first="176" second="49" third="0">VolumeMute</action>
		</actions>
	</session>

	<session>
		<paths>
			<path>browser.exe</path>
		</paths>
		<actions>
			<action first="176" second="2">VolumeSet</action>
			<action first="176" second="50" third="0">VolumeMute</action>
		</actions>
	</session>

	<session>
		<paths>
			<path>videoplayer.exe</path>
		</paths>
		<actions>
			<action first="176" second="5">VolumeSet</action>
			<action first="176" second="53" third="0">VolumeMute</action>
		</actions>
	</session>

</profile>
